/* Header*/

.jumbotron{
    background: url(img/header.svg) no-repeat;
    background-size: cover;
    width: 100%;
    
}

.display-3{
    color: orange;
    font-family: 'Open Sans Condensed', sans-serif,;
    font-size: 50px;
    
}

.lead{
    color:white;
    font-family:'Petit Formal Script', cursive;
    font-size: 12px
}

.linkheader{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white
}
a {
    color:white;
}
a:hover{
    color:orange
}
/* Body*/

.image{
    margin-bottom: 1em;
}

.tracklist{
    margin-top: 1em
}

.container {
    position: relative;
    width: 90%;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button{
    background-color: #45A29E;
    color: white;
    margin:  auto;
    display: block;
    width: 90%;
    border: none;
    border-radius:  5px;   
}

h2{
    
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1F2833

}
h3{
    
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1F2833
}

p{
    font-size: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
}

h4{
    color: orange;
    font-weight: 700;
    font-size:18px;
    font-family: 'Open Sans Condensed', sans-serif;

}
.bedrag{
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px
}
ol {
    
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 1em;
    text-align: left
    
   
}

hr{
    background-color: orange;
    width: 100%
}
/* Footer */

.footer-bottom {
    background:#CCC url(img/header.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 70px;
    display: block
}
.copyright {
    color: #fff;
    margin-top: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
   




/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... } */

  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    .display-3{
        font-size: 100px
    }
    .lead{
        font-size: 20px
    }
    .button{
        width: 100%
    }
   
    .container {
        position: relative;
        width: 100%;
    }
    
    ol{
        -webkit-column-count: 2;
        -moz-column-count: 2; 
        column-count: 2;
        -webkit-column-rule-style: dashed;
        -webkit-column-rule-color: orange;
        -webkit-column-rule-width:2px;
        width:95%;
        list-style: inside decimal;
        text-align: center
           
        
        
        
       
       

       
        
        

    }
   
    
   
    
}
 


  /* Large devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }*/
  
  /* Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }*/